.header {
    position: relative;
    z-index: 10;
}
.header-top {
    padding: 20px 0 15px;
    font-family: Roboto, sans-serif;
    line-height: 54px;
}
.header-contact {
    text-align: center;
    color: #000;
    font-size: 17px;
}
.header-contact a {
    color: #428bca;
    text-decoration: none;
}
.header-contact a i {
    margin: 0 8px 0 0;
}
.header-contact .coral-ico-mail {
    font-size: 20px;
}
.header-contact .coral-ico-phone2 {
    font-size: 29px;
}